<div class="container-fluid">
  <app-page-title title="Orders" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box mr-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-right">
                <button type="button" class="btn btn-success btn-rounded mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i>
                  {{'MENUITEMS.ECOMMERCE.LIST.ORDERS.ADDNEWORDER' | translate}}</button>
              </div>
            </div><!-- end col-->
          </div>

          <!-- Table data -->
          <app-transaction [transactions]="orders |  filter:term"></app-transaction>
          <ul class="pagination pagination-rounded justify-content-end mb-2">
            <li class="page-item disabled">
              <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                <i class="mdi mdi-chevron-left"></i>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="javascript: void(0);">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript: void(0);">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript: void(0);">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript: void(0);">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript: void(0);">5</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript: void(0);" aria-label="Next">
                <i class="mdi mdi-chevron-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>