<div class="container-fluid">

    <app-page-title title="Product Categories" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box mr-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="example-list">

                            <table class="table table-centered table-nowrap table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" style="width: 30px;">#</th>
                                        <th scope="col">Provincia</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Region</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let place of places, let i = index;" [attr.data-index]="i">
                                        <td>
                                            {{i + 1}}
                                        </td>
                                        <td>
                                            {{place.sigla}}
                                        </td>
                                        <td>{{place.nome}}</td>
                                        <td>{{place.regione}}</td>
                                        <td>{{place.price}}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary"
                                                (click)="editPlaceShipping(i, content)">
                                                <i class='bx bxs-pencil'></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="pagination pagination-rounded justify-content-center mt-4">
                                <li class="page-item disabled">
                                    <a href="javascript: void(0);" class="page-link"><i
                                            class="mdi mdi-chevron-left"></i></a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript: void(0);" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="javascript: void(0);" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript: void(0);" class="page-link">3</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript: void(0);" class="page-link">4</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript: void(0);" class="page-link">5</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript: void(0);" class="page-link"><i
                                            class="mdi mdi-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>

<!-- Standard Modal -->
<ng-template #content role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.AREYOUSURE' | translate}}</h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h5>Place Shipping Detail</h5>
        <p>How much it costs shipping here?</p>
        <form [formGroup]="shippingPriceForm">
            <div class="form-group">
                <label for="modalCategoryName">Price</label>
                <input id="modalCategoryName" class="form-control" formControlName="price" matInput type="number" [(ngModel)]="selectedPlace.price">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light"
            (click)="modal.close('CANCEL')">{{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.CANCEL' |
            translate}}</button>
        <button type="button" class="btn btn-success" (click)="modal.close('SAVE')">
            <i class='bx bx-save'></i> {{'COMMON.SAVE' | translate}}
        </button>
    </div>
</ng-template>