<div class="container-fluid">

  <app-page-title title="Shops" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-xl-4 col-sm-6" *ngFor="let data of shopsData">
      <div class="card" [routerLink]="['/ecommerce/shop-detail',data.uid]">
        <div class="row">
          <div class="col-xl-5">
            <div class="text-center p-4 border-right">
              <div class="avatar-sm mx-auto mb-4">
                <img class="avatar-title rounded-circle" [src]="data.mediaUrl" alt="" class="img-fluid mx-auto d-block">
              </div>
              <h5 class="text-truncate">{{data.description}}</h5>
            </div>
          </div>

          <div class="col-xl-7">
            <div class="p-4 text-center text-xl-left">
              <div class="row">
                <div class="col-md-6">
                  <div>
                    <p class="text-muted mb-2 text-truncate">Phone</p>
                    <h5>{{data.phone}}</h5>
                  </div>
                </div>
                <div class="col-md-6">
                  <div>
                    <p class="text-muted mb-2 text-truncate">Address</p>
                    <h5>{{data.address}}</h5>
                  </div>
                </div>
              </div>
              <div class="mt-4">
                <a href="javascript: void(0);">See detail</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  end row -->

  <div class="row">
    <div class="col-12">
      <div class="text-center my-3">
        <a href="javascript:void(0);" class="text-success"><i
            class="bx bx-loader bx-spin font-size-18 align-middle mr-2"></i> Load more </a>
      </div>
    </div> <!-- end col-->
  </div>
  <!-- end row -->
</div> <!-- container-fluid -->
