<div class="container-fluid">

  <app-page-title title="Profile" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-soft-primary">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Welcome Back !</h5>
                <p>It will seem like simplified</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img src="assets/images/profile-img.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-8">
              <div class="avatar-md profile-user-wid mb-4">
                <img [src]="userDetail?.photoURL" alt="" class="img-thumbnail rounded-circle">
              </div>
              <h5 class="font-size-15 text-truncate">{{userDetail?.firstname}} {{userDetail?.lastname}}</h5>
            </div>

            <div class="col-sm-4">
              <div class="pt-4">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">{{ 'MENUITEMS.CONTACTS.LIST.USERLIST.PERSONALINFO' | translate }}</h4>
          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr>
                  <th scope="row">{{ 'MENUITEMS.CONTACTS.LIST.USERLIST.FULLNAME' | translate }}</th>
                  <td>{{userDetail?.firstname}} {{userDetail?.lastname}}</td>
                </tr>
                <tr>
                  <th scope="row">{{ 'MENUITEMS.CONTACTS.LIST.USERLIST.EMAIL' | translate }}</th>
                  <td>{{userDetail?.email}}</td>
                </tr>
                <tr>
                  <th scope="row">{{ 'MENUITEMS.CONTACTS.LIST.USERLIST.PHONE' | translate }}</th>
                  <td>{{userDetail?.phone}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <!-- end card -->
    </div>

    <div class="col-xl-8">

      <div class="row">
        <div *ngFor="let stat of statData" class="col-md-4">
          <app-stat [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat>
        </div>

      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">{{ 'MENUITEMS.CONTACTS.LIST.USERLIST.ADDRESS' | translate }}</h4>
          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr *ngFor="let address of addresses">
                  <td>{{address?.address}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <app-transaction [transactions]="orders"></app-transaction>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>