<div class="container-fluid">

    <app-page-title title="Product Categories" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box mr-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-right" (click)="addNewCategory(newCategory)">
                                <button type="button" class="btn btn-success btn-rounded mb-2 mr-2"><i
                                        class="mdi mdi-plus mr-1"></i>
                                    {{ 'MENUITEMS.ECOMMERCE.LIST.PRODUCTCATEGORIES.ADDNEWCATEGORY' | translate }}</button>
                            </div>
                        </div><!-- end col-->
                    </div>
                    <div class="table-responsive">
                        <div class="example-list">

                            <table class="table table-centered table-nowrap table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" style="width: 30px;">#</th>
                                        <th scope="col">{{ 'MENUITEMS.ECOMMERCE.LIST.PRODUCTCATEGORIES.NAME' | translate }}</th>
                                        <th scope="col">{{ 'MENUITEMS.ECOMMERCE.LIST.PRODUCTCATEGORIES.DESCRIPTION' | translate }}</th>
                                        <th scope="col">{{ 'MENUITEMS.ECOMMERCE.LIST.PRODUCTCATEGORIES.DATE' | translate }}</th>
                                        <th scope="col">{{ 'MENUITEMS.ECOMMERCE.LIST.PRODUCTCATEGORIES.OPTIONS' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let category of categories, let i = index;" [attr.data-index]="i">
                                        <td>
                                            {{i + 1}}
                                        </td>
                                        <td>
                                            {{category.name}}
                                        </td>
                                        <td>{{category.description}}</td>
                                        <td>{{category.dateCreation.seconds * 1000 | date:'dd/MM/yyyy(EEE) - hh:mmaaa'}}</td>
                                        <td>
                                            <button type="button" class="btn btn-danger"
                                                (click)="deleteCat(i, content)">
                                                <i class='bx bx-x-circle'></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="pagination pagination-rounded justify-content-center mt-4">
                                <li class="page-item disabled">
                                    <a href="javascript: void(0);" class="page-link"><i
                                            class="mdi mdi-chevron-left"></i></a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript: void(0);" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="javascript: void(0);" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript: void(0);" class="page-link">3</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript: void(0);" class="page-link">4</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript: void(0);" class="page-link">5</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript: void(0);" class="page-link"><i
                                            class="mdi mdi-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>

<!-- Standard Modal -->
<ng-template #content role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.AREYOUSURE' | translate}}</h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h5>Delete Category</h5>
        <p>Do you want to delete this category?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light"
            (click)="modal.close('CANCEL')">{{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.CANCEL' |
            translate}}</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('DELETE')">
            <i class='bx bx-trash'></i> {{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.DELETE' | translate}}
        </button>
    </div>
</ng-template>

<!-- New Category Modal -->
<ng-template #newCategory role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Create a category</h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>Set name and code for a category</p>
        <form [formGroup]="categoryForm">
            <div class="form-group">
                <label for="modalCategoryName">{{ 'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.CATEGORY' | translate
                    }}</label>
                <input id="modalCategoryName" matInput type="text" formControlName="name" class="form-control"
                    placeholder="Name">
            </div>
            <div class="form-group">
                <label for="modalCategoryCode">{{ 'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.DESCRIPTION' | translate
                    }}</label>
                <input id="modalCategoryCode" matInput type="text" formControlName="description" class="form-control"
                    placeholder="Code">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light"
            (click)="modal.close('CANCEL')">{{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.CANCEL' |
            translate}}</button>
        <button type="button" class="btn btn-success" (click)="modal.close('CREATE')">
            <i class='bx bx-save'></i> Create
        </button>
    </div>
</ng-template>