
.modal-style{
  height: 500px;
}

.example-form {
    min-width: 350px;
    max-width: 500px;
    height: 350px;
    max-height: 500px;
    width: 100%;
    height: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  