<h2 mat-dialog-title>{{ 'MENUITEMS.BLOG.LIST.BLOGLIST.POSTEDITDIALOG.TEXT' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="postFormControl" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Post content</mat-label>
      <input type="text" matInput formControlName="text" placeholder="Say something!" required [errorStateMatcher]="matcher"
             placeholder="Say something!                                                                                                                          ">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="postFormControl.hasError('required')">
        Post is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <div *ngIf="fileUrl">
    <img style="max-height: 300px;" [src]="fileUrl" />
  </div>
  <input #fileInput style="display: none;" type="file" accept="image/*" (change)="onFileChange($event)">
  <button type="button" class="btn btn-success" (click)="fileInput.click()">Upload Image</button>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="'CANCEL'">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="savePost()">Save Post</button>
</mat-dialog-actions>
