// ************ Shopping card ************//

.shop-banner {
    position: relative;
    width: 94% !important;
    height: 200px !important;
    margin: 15px 2px 0px 5px !important;
    background-color: #dddddd;
    border-radius: 8px !important;
}

.shop-banner-bg:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}
.shop-banner-bg {
    position: relative;
    height: 200px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    background-position: center;
}
.shop-banner-bg .card2-title {
    width: 350px;
    padding: 0px 5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; // This is where the magic happens

    font-style: roboto;
    font-size: 25px;
    font-weight: 300;

    color: #ffffff;
    position: absolute;
    top: 35%;
    left: 10px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 100%;
    //text-align: center;
}

.shop-banner-bg .card2-star {
    width: 179px !important;
    height: 77px !important;
    padding: 0px 5px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis; // This is where the magic happens
    font-style: roboto;
    font-size: 17px;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    top: 60%;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 100%;
    text-align: center;
}

.shop-main-h-card {
    display: inline-block;
    border-radius: 9px !important;
    // remove shadow //
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0) !important;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0) !important;
}

.shop-main-card {
    border-radius: 4px !important;
    // remove shadow //
    margin-left: 0px !important;
    margin-right: 0px !important;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0) !important;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0) !important;
}

.checkout-card {
    background-color: #fff;
    padding: 10px 5px 25px 5px;
    border-radius: 5px !important;
    margin-left: 13px !important;
    margin-right: 13px !important;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0) !important;
    border: 1px solid #eeeeee;
}

.info-card {
    background-color: #fff;
    padding: 10px 15px 25px 15px;
    border-radius: 10px !important;
    // remove shadow //
    margin-left: 0px !important;
    margin-right: 0px !important;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0) !important;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0) !important;
}

.info-card-2 {
    background-color: #fff;
    padding: 10px 15px 25px 15px;
    border-radius: 0px !important;
    // remove shadow //
    margin-left: 0px !important;
    margin-right: 0px !important;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0) !important;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0) !important;
}

.ribbon {
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 2;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform-origin: 0 100%;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    background-color: #14b900; //#d33939;
    color: #fff;
    height: 25px;
    width: 100px;
    top: -30px;
    transform: rotateZ(45deg);
    padding-left: 30px;
    padding-right: 30px;
    line-height: 30px;
    // right:-14.644660940673px;
    right: -34px;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
}
.ribbon-left {
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 9999;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform-origin: 0 100%;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    background-color: #14b900; //#d33939;
    color: #fff;
    height: 25px;
    width: 100px;
    top: -30px;
    transform: rotateZ(45deg);
    padding-left: 30px;
    padding-right: 30px;
    line-height: 30px;
    // right:-14.644660940673px;
    left: -34px;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
}
.bookmarkRibbon {
    position: absolute;
    z-index: 999;
    top: 0px;
    right: 10px;
    width: 0;
    height: 35px;
    border-right: 10px solid #ffc107;
    border-left: 10px solid #ffc107;
    border-bottom: 10px solid transparent;
}
.discount {
    text-decoration: line-through;
}

img {
    width: 100%;
    height: 100%;
}

.myCard {
    position: relative;
    height: 100px;
    
}

.myOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 0.5;
    background: #000;
    color: #fff;
    display: table-cell; 
    vertical-align: middle;
}