<div class="container-fluid">

    <app-page-title title="Shops" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-xl-4 col-sm-6">
            <div (click)="openModal(null, content)">
                <div class="shop-main-h-card shop-banner">
                    <i style="font-size:64px;" class='bx bx-plus-circle'></i>
                    <p class="card2-title"> Add new banner</p>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6" *ngFor="let data of banners">
            <div (click)="openModal(data, content)">
                <div class="shop-main-h-card shop-banner">
                    <div class="shop-banner-bg ion-text-uppercase"
                        [ngStyle]="{'background-image': 'url(' + data.mediaUrl + ')'}">
                        <div *ngIf="data.special" class="ribbon">{{data.special_message}}</div>
                        <p class="card2-title"> {{data.name}}</p>
                        <i *ngIf="!data.enable" class='bx bxs-x-circle' style="font-size: 64px; color: red;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div> <!-- container-fluid -->


<ng-template #content role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Banner Details</h5>
        <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div>
        <div class="shop-main-h-card shop-banner">
            <div class="shop-banner-bg ion-text-uppercase"
                [ngStyle]="{'background-image': 'url(' + selectedBanner.mediaUrl + ')'}">
                <div *ngIf="selectedBanner.special" class="ribbon">{{selectedBanner.special_message}}</div>
                <p class="card2-title"> {{selectedBanner.name}}</p>
                <i *ngIf="!selectedBanner.enable" class='bx bxs-x-circle' style="font-size: 64px; color: red;"></i>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row padding-left-10">
            <input #fileInput style="display: none;" type="file" accept="image/*" (change)="onFileChange($event)">
            <button type="button" class="btn btn-success mt-2" (click)="fileInput.click()">
                <i class='bx bx-camera'></i> {{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.UPDATEPHOTO' | translate}}
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-nowrap mb-0">
                <tbody>
                    <tr>
                        <th scope="row">Enable Banner</th>
                        <th scope="row">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="selectedBanner.enable">
                        </th>
                    </tr>
                    <tr>
                        <th scope="row">Name</th>
                        <input name="bannerName" type="text" class="form-control" [(ngModel)]="selectedBanner.name" />
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <input name="bannerDescription" type="text" class="form-control"
                            [(ngModel)]="selectedBanner.description" />
                    </tr>
                    <tr>
                        <th scope="row" for="flexCheckChecked">Is Special</th>

                        <th scope="row">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="selectedBanner.special">
                        </th>
                    </tr>
                    <tr>
                        <th scope="row">Special Message</th>
                        <input name="shopPhone" type="text" class="form-control"
                            [(ngModel)]="selectedBanner.special_message" />
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        <button class="btn btn-danger" (click)="modal.close('DELETE')">Delete</button>
        <button class="btn btn-success" (click)="modal.close('SAVE')">Save</button>
    </div>
</ng-template>