<div class="table-responsive mb-0">
  <table class="table table-centered table-nowrap">
    <thead class="thead-light">
      <tr>
        <th style="width: 20px;">
          <div class="custom-control custom-checkbox">
            <input id="customCheck" type="checkbox" class="custom-control-input" />
            <label class="custom-control-label" for="customCheck">&nbsp;</label>
          </div>
        </th>
        <th>{{'SHARED.WIDGET.TRANSACTION.ORDERID' | translate}}</th>
        <th>{{'SHARED.WIDGET.TRANSACTION.BILLINGNAME' | translate}}</th>
        <th>{{'SHARED.WIDGET.TRANSACTION.DATE' | translate}}</th>
        <th>{{'SHARED.WIDGET.TRANSACTION.TOTAL' | translate}}</th>
        <th>{{'SHARED.WIDGET.TRANSACTION.PAYMENTSTATUS' | translate}}</th>
        <th>{{'SHARED.WIDGET.TRANSACTION.PAYMENTMETHOD' | translate}}</th>
        <th>{{'SHARED.WIDGET.TRANSACTION.VIEWDETAILS' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of transactions; let i = index">
        <td>
          <div class="custom-control custom-checkbox">
            <input id="customCheck{{i}}" type="checkbox" class="custom-control-input" />
            <label class="custom-control-label" for="customCheck{{i}}">&nbsp;</label>
          </div>
        </td>
        <td>
          <a href="javascript: void(0);" class="text-body font-weight-bold">#{{i + 1}}</a>
        </td>
        <td>{{data.userProfile.userFirstname}}</td>
        <td>{{data.createdTime.seconds * 1000 | date:'dd/MM/yyyy(EEE) - hh:mmaaa'}}</td>
        <td>{{data.totalPrice | currency:'EUR':'symbol' }}</td>
        <td>
          <span *ngIf="data.status=='pending'" class="badge badge-pill badge-soft-success font-size-12">{{data.status}}</span>
          <span *ngIf="data.status=='taked'" class="badge badge-pill badge-soft-warning font-size-12">{{data.status}}</span>
          <span *ngIf="data.status=='completed'" class="badge badge-pill badge-soft-dark font-size-12">{{data.status}}</span>
          <span *ngIf="data.status=='refund'" class="badge badge-pill badge-soft-danger font-size-12">{{data.status}}</span>
        </td>
        <td>
          <i :class="`fab ${data.payment[0]} mr-1`"></i>
          <div [ngSwitch]="data.paymentType">
            <!-- the same view can be shown in more than one case -->
            <span *ngSwitchCase="'cc'">{{'SHARED.WIDGET.TRANSACTION.PAYMENTTYPES.CREDITCARD' | translate}}</span>
            <span *ngSwitchCase="'paypal'">{{'SHARED.WIDGET.TRANSACTION.PAYMENTTYPES.PAYPAL' | translate}}</span>
            <span *ngSwitchCase="'bank'">{{'SHARED.WIDGET.TRANSACTION.PAYMENTTYPES.BANKTRANSFER' | translate}}</span>
            <span *ngSwitchCase="'cash'">{{'SHARED.WIDGET.TRANSACTION.PAYMENTTYPES.CASH' | translate}}</span>
          </div>
        </td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-sm btn-rounded" (click)="openModal(data, content)">{{'SHARED.WIDGET.TRANSACTION.VIEWDETAILS' | translate}}</button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #content role="document" let-modal>
    
    <div class="modal-header">
      <h5 class="modal-title mt-0">Order Details</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
      <p class="mb-2">
        Product id:
        <span class="text-primary">{{selectedTransaction.orderId}}</span>
      </p>
      <p class="mb-4">
        Billing Name:
        <span class="text-primary">{{address?.fullname}}</span>
      </p>
      <p class="mb-2">
        Address Shipping:
        <span class="text-primary">{{address?.address1}}, {{address?.address2}}</span>
      </p>
      <p class="mb-2">
        CAP:
        <span class="text-primary">{{address?.cap}}</span>
      </p>
      <div class="row">
        <div class="col-6">
          <p class="mb-2">
            City:
            <span class="text-primary">{{address?.city}} ({{address?.place.sigla}})</span>
          </p>
        </div>
        <div class="col-6">
          <p class="mb-2">
            Region:
            <span class="text-primary">{{address?.place.regione}}</span>
          </p>
        </div>
      </div>
      <p class="mb-2">
        Phone:
        <span class="text-primary">{{address?.phone}}</span>
      </p>
      <p class="mb-4">
        Payment:

        <span [ngSwitch]="selectedTransaction.paymentType">
          <!-- the same view can be shown in more than one case -->
          <span class="text-primary" *ngSwitchCase="'cc'">
            <i class="fab fa-cc-mastercard mr-1 font-size-20 align-top"></i>{{'SHARED.WIDGET.TRANSACTION.PAYMENTTYPES.CREDITCARD' | translate}}</span>
          <span class="text-primary" *ngSwitchCase="'paypal'">
            <i class="fab fa-cc-paypal mr-1 font-size-20 align-top"></i>{{'SHARED.WIDGET.TRANSACTION.PAYMENTTYPES.PAYPAL' | translate}}</span>
          <span class="text-primary" *ngSwitchCase="'bank'">
            <i class="far fa-money-bill-alt mr-1 font-size-20 align-top"></i>{{'SHARED.WIDGET.TRANSACTION.PAYMENTTYPES.BANKTRANSFER' | translate}}</span>
          <span class="text-primary" *ngSwitchCase="'cash'">{{'SHARED.WIDGET.TRANSACTION.PAYMENTTYPES.CASH' | translate}}</span>
        </span>
      </p>
      <p class="mb-2">
        Status:
          <span *ngIf="selectedTransaction.status=='pending'" class="badge badge-pill badge-soft-success font-size-12">{{selectedTransaction.status}}</span>
          <span *ngIf="selectedTransaction.status=='taked'" class="badge badge-pill badge-soft-warning font-size-12">{{selectedTransaction.status}}</span>
          <span *ngIf="selectedTransaction.status=='completed'" class="badge badge-pill badge-soft-dark font-size-12">{{selectedTransaction.status}}</span>
          <span *ngIf="selectedTransaction.status=='refund'" class="badge badge-pill badge-soft-danger font-size-12">{{selectedTransaction.status}}</span>
      </p>
      
      <div class="table-responsive">
        <table class="table table-centered table-nowrap">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Product Name</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of selectedTransaction.orderItems">
              <th scope="row">
                <div>
                  <img [src]="item.image" alt class="avatar-sm" />
                </div>
              </th>
              <td>
                <div>
                  <h5 class="text-truncate font-size-14">{{item.name}}</h5>
                  <p class="text-muted mb-0">{{item.size.price}} x {{item.quantity}}</p>
                </div>
              </td>
              <td>{{item.price}}</td>
            </tr>
            <tr>
              <td colspan="2">
                <h6 class="m-0 text-right">Sub Total:</h6>
              </td>
              <td>{{selectedTransaction.totalPrice - selectedTransaction.shipmentFee}}</td>
            </tr>
            <tr>
              <td colspan="2">
                <h6 class="m-0 text-right">Shipping:</h6>
              </td>
              <td>{{selectedTransaction.shipmentFee}}</td>
            </tr>
            <tr>
              <td colspan="2">
                <h6 class="m-0 text-right">Total:</h6>
              </td>
              <td>{{selectedTransaction.totalPrice}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
      <button class="btn btn-danger" *ngIf="selectedTransaction.status != 'completed' && selectedTransaction.status != 'refund' && (transactions && transactions[0].paymentType == 'cc')" [class.spinner]="loading" [disabled]="loading" (click)="askRefund(refundModalContent)">Refund</button>
      <button class="btn btn-success" *ngIf="selectedTransaction.status == 'pending'" (click)="modal.close('TAKE')">Take</button>
      <button class="btn btn-success" *ngIf="selectedTransaction.status == 'taked'" (click)="modal.close('COMPLETED')">Complete</button>
    </div>
  </ng-template>

  <!-- Standard Modal -->
  <ng-template #refundModalContent role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{'COMMON.AREYOUSURE' | translate}}?</h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h5>Refund Order</h5>
        <p>{{ 'SHARED.WIDGET.TRANSACTION.DOYOUWANTTOREFUND' | translate }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('CANCEL')">Cancel</button>
        <button type="button" class="btn btn-danger" [class.spinner]="loading" [disabled]="loading" (click)="modal.close('REFUND')">
            <i class='bx bx-trash'></i> Refund
        </button>
    </div>
  </ng-template>
</div>
<!-- end table -->