<div class="container-fluid">

  <app-page-title title="User List" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-centered table-nowrap table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col" style="width: 70px;">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Tags</th>
                  <th scope="col">Orders</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users" routerLink="/profile/{{user.id}}">
                  <td>
                    <div class="avatar-xs">
                      <span class="avatar-title rounded-circle">
                        {{user.photoURL}}
                      </span>
                    </div>
                  </td>
                  <td>
                    <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">{{user.displayName}}</a>
                    </h5>
                  </td>
                  <td>{{user.email}}</td>
                  <td>
                    <!--
                    <div>
                      <a href="javascript: void(0);" class="badge badge-soft-primary font-size-11 m-1">Photoshop</a>
                      <a href="javascript: void(0);" class="badge badge-soft-primary font-size-11 m-1">illustrator</a>
                    </div>
                    -->
                   
                  </td>
                  <td>
                    {{user?.orders?.length}}
                  </td>
                  <td>
                    <ul class="list-inline font-size-20 contact-links mb-0">
                      <li class="list-inline-item px-2">
                        <a href="" ngbTooltip="Message"><i class="bx bx-message-square-dots"></i></a>
                      </li>
                      <li class="list-inline-item px-2">
                        <a href="" ngbTooltip="Profile"><i class="bx bx-user-circle"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <ul class="pagination pagination-rounded justify-content-center mt-4">
                <li class="page-item disabled">
                  <a href="javascript: void(0);" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                </li>
                <li class="page-item">
                  <a href="javascript: void(0);" class="page-link">1</a>
                </li>
                <li class="page-item active">
                  <a href="javascript: void(0);" class="page-link">2</a>
                </li>
                <li class="page-item">
                  <a href="javascript: void(0);" class="page-link">3</a>
                </li>
                <li class="page-item">
                  <a href="javascript: void(0);" class="page-link">4</a>
                </li>
                <li class="page-item">
                  <a href="javascript: void(0);" class="page-link">5</a>
                </li>
                <li class="page-item">
                  <a href="javascript: void(0);" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
