<div class="container-fluid">

  <app-page-title title="Profile" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row" *ngIf="shopDetail">
    <div class="col-xl-4">

      <div class="card overflow-hidden">

        <img *ngIf="!fileUrl" [src]="shopDetail.mediaUrl" alt="" class="img-fluid mx-auto d-block">
        <img *ngIf="fileUrl" [src]="fileUrl" alt="" class="img-fluid mx-auto d-block">
        <div class="row padding-all-5">
          <div class="col-12 padding-all-5">
            <div class="text-center">
              <button *ngIf="isReadOnly" type="button" class="btn btn-primary mt-2" (click)="enableEditMode()">
                <i class='bx bx-cog mr-2'></i> {{'COMMON.EDIT' | translate}}
              </button>
              <input #fileInput style="display: none;" type="file" accept="image/*" (change)="onFileChange($event)">
              <button *ngIf="!isReadOnly" type="button" class="btn btn-success mt-2" (click)="fileInput.click()">
                <i class='bx bx-camera'></i> {{'COMMON.UPDATEPHOTO' | translate}}
              </button>
              <button *ngIf="!isReadOnly" type="button" class="btn btn-danger mt-2 margin-left-10" (click)="cancel()">
                <i class='bx bx-trash'></i> {{'COMMON.CANCEL' | translate}}
              </button>
              <button *ngIf="!isReadOnly" type="button" class="btn btn-success mt-2 margin-left-10"
                (click)="saveShop()">
                <i class='bx bx-save'></i> {{'COMMON.SAVE' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">{{ 'MENUITEMS.CONTACTS.LIST.USERLIST.PERSONALINFO' | translate }}</h4>
          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr>
                  <th scope="row">{{ 'MENUITEMS.ECOMMERCE.LIST.SHOPSDETAIL.NAME' | translate }}</th>
                  <td *ngIf="!isReadOnly">
                    <input name="shopName" type="text" class="form-control" [(ngModel)]="shopDetail.name" />
                  </td>
                  <td *ngIf="isReadOnly">{{shopDetail.name}}</td>
                </tr>
                <tr>
                  <th scope="row">{{ 'MENUITEMS.ECOMMERCE.LIST.SHOPSDETAIL.DESCRIPTION' | translate }}</th>
                  <td *ngIf="!isReadOnly">
                    <input name="shopDescription" type="text" class="form-control" [(ngModel)]="shopDetail.description" />
                  </td>
                  <td *ngIf="isReadOnly">{{shopDetail.description}}</td>
                </tr>
                <tr>
                  <th scope="row">{{ 'MENUITEMS.ECOMMERCE.LIST.SHOPSDETAIL.PHONE' | translate }}</th>
                  <td *ngIf="!isReadOnly">
                    <input name="shopPhone" type="text" class="form-control" [(ngModel)]="shopDetail.phone" />
                  </td>
                  <td *ngIf="isReadOnly">{{shopDetail.phone}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>

    <div class="col-xl-8">

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">{{ 'MENUITEMS.ECOMMERCE.LIST.SHOPSDETAIL.HOURS.TEXT' | translate }}</h4>
          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr>
                  <th scope="row">{{ 'MENUITEMS.ECOMMERCE.LIST.SHOPSDETAIL.HOURS.MONDAY' | translate }}</th>
                  <td *ngIf="!isReadOnly">
                    <input type="text" class="form-control" [(ngModel)]="shopDetail.hours.monday" />
                  </td>
                  <td *ngIf="isReadOnly">{{shopDetail.hours.monday ? shopDetail.hours.monday: 'CLOSED'}}</td>
                </tr>
                <tr>
                  <th scope="row">{{ 'MENUITEMS.ECOMMERCE.LIST.SHOPSDETAIL.HOURS.TUESDAY' | translate }}</th>
                  <td *ngIf="!isReadOnly">
                    <input type="text" class="form-control" [(ngModel)]="shopDetail.hours.tuesday" />
                  </td>
                  <td *ngIf="isReadOnly">{{shopDetail.hours.tuesday ? shopDetail.hours.tuesday: 'CLOSED'}}</td>
                </tr>
                <tr>
                  <th scope="row">{{ 'MENUITEMS.ECOMMERCE.LIST.SHOPSDETAIL.HOURS.WEDNESDAY' | translate }}</th>
                  <td *ngIf="!isReadOnly">
                    <input type="text" class="form-control" [(ngModel)]="shopDetail.hours.wednesday" />
                  </td>
                  <td *ngIf="isReadOnly">{{shopDetail.hours.wednesday ? shopDetail.hours.wednesday: 'CLOSED'}}</td>
                </tr>
                <tr>
                  <th scope="row">{{ 'MENUITEMS.ECOMMERCE.LIST.SHOPSDETAIL.HOURS.THURSDAY' | translate }}</th>
                  <td *ngIf="!isReadOnly">
                    <input type="text" class="form-control" [(ngModel)]="shopDetail.hours.thursday" />
                  </td>
                  <td *ngIf="isReadOnly">{{shopDetail.hours.thursday ? shopDetail.hours.friday: 'CLOSED'}}</td>
                </tr>
                <tr>
                  <th scope="row">{{ 'MENUITEMS.ECOMMERCE.LIST.SHOPSDETAIL.HOURS.FRIDAY' | translate }}</th>
                  <td *ngIf="!isReadOnly">
                    <input type="text" class="form-control" [(ngModel)]="shopDetail.hours.friday" />
                  </td>
                  <td *ngIf="isReadOnly">{{shopDetail.hours.friday ? shopDetail.hours.friday: 'CLOSED'}}</td>
                </tr>
                <tr>
                  <th scope="row">{{ 'MENUITEMS.ECOMMERCE.LIST.SHOPSDETAIL.HOURS.SATURDAY' | translate }}</th>
                  <td *ngIf="!isReadOnly">
                    <input type="text" class="form-control" [(ngModel)]="shopDetail.hours.saturday" />
                  </td>
                  <td *ngIf="isReadOnly">{{shopDetail.hours.saturday ? shopDetail.hours.saturday: 'CLOSED'}}</td>
                </tr>
                <tr>
                  <th scope="row">{{ 'MENUITEMS.ECOMMERCE.LIST.SHOPSDETAIL.HOURS.SUNDAY' | translate }}</th>
                  <td *ngIf="!isReadOnly">
                    <input type="text" class="form-control" [(ngModel)]="shopDetail.hours.sunday" />
                  </td>
                  <td *ngIf="isReadOnly">{{shopDetail.hours.sunday ? shopDetail.hours.sunday: 'CLOSED'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">{{ 'MENUITEMS.ECOMMERCE.LIST.SHOPSDETAIL.ADDRESS' | translate }}</h4>
          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tr>
                <th scope="row">{{ 'MENUITEMS.ECOMMERCE.LIST.SHOPSDETAIL.ADDRESS' | translate }}</th>
                <td *ngIf="!isReadOnly">
                  <input name="shopAddress" type="text" class="form-control" [(ngModel)]="shopDetail.address" />
                </td>
                <td *ngIf="isReadOnly">{{shopDetail.address}}</td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end row -->
</div>