<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Add Product" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Basic Information</h4>
          <p class="card-title-desc">Fill all information below</p>
          <form [formGroup]="productForm" (ngSubmit)="validSubmit()">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="productname">{{'MENUITEMS.ECOMMERCE.LIST.ADDPRODUCT.PRODUCTNAME' | translate}}</label>
                  <input id="productname" name="productname" type="text" class="form-control" formControlName="name"
                    [ngClass]="{'is-invalid': submit && form.name.errors}">
                  <div *ngIf="submit && form.name.errors" class="invalid-feedback">
                    <span *ngIf="form.name.errors.required">Name is required.</span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
              <div class="form-group">
                  <label for="productdesc">{{'MENUITEMS.ECOMMERCE.LIST.ADDPRODUCT.PRODUCTDESCRIPTION' | translate}}</label>
                  <textarea class="form-control" id="productdesc" rows="5" formControlName="description"
                  [ngClass]="{'is-invalid': submit && form.description.errors}"></textarea>
                  <div *ngIf="submit && form.description.errors" class="invalid-feedback">
                    <span *ngIf="form.description.errors.required">Description is required.</span>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="newProduct">
            <div *ngFor="let attrb of newProduct.attribute1_value; let i = index" [attr.data-index]="i" cdkDrag>
              <div class="row">
                <div class="input-group col-5">
                  <input type="text" class="form-control" [(ngModel)]="attrb.value" placeholder="Label"
                    aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group col-5">
                  <input type="number" class="form-control" [(ngModel)]="attrb.price" placeholder="Price"
                    aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="padding-0-0-5-0 col-2">
                  <button type="button" class="btn btn-danger" (click)="deleteAttrb(i)">
                    <i class='bx bx-x-circle'></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row padding-left-10">
            <button type="button" class="btn btn-danger mt-2" (click)="addNewAttrb1()">
              <i class='bx bx-plus'></i> {{'MENUITEMS.ECOMMERCE.LIST.ADDPRODUCT.ADDNEWATTRIBUTE' | translate}}
            </button>
          </div>
          <div>
            <label for="product-image" class="mt-2"> {{'MENUITEMS.ECOMMERCE.LIST.ADDPRODUCT.PRODUCTIMAGE' | translate}}</label>
            <dropzone *ngIf="!fileUrl" class="dropzone" [config]="config"></dropzone>
            <img *ngIf="fileUrl" [src]="fileUrl" id="expandedImg" alt="" class="img-fluid mx-auto d-block">
          </div>
          <div class="mt-3">
            <button (click)="saveProduct()" class="btn btn-primary mr-1">{{'MENUITEMS.ECOMMERCE.LIST.ADDPRODUCT.SAVECHANGES' | translate}}</button>
            <button (click)="cancelProduct()" class="btn btn-secondary">{{'MENUITEMS.ECOMMERCE.LIST.ADDPRODUCT.CANCEL' | translate}}</button>
          </div>
        </div>
      </div>
      <!--
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Meta Data</h4>
          <p class="card-title-desc">Fill all information below</p>

          <form>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="metatitle">Meta title</label>
                  <input id="metatitle" name="productname" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="metakeywords">Meta Keywords</label>
                  <input id="metakeywords" name="manufacturername" type="text" class="form-control">
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="metadescription">Meta Description</label>
                  <textarea class="form-control" id="metadescription" rows="5"></textarea>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mr-1">Save Changes</button>
            <button type="submit" class="btn btn-secondary">Cancel</button>
          </form>
        </div>
      </div>
      -->
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->