<div class="container-fluid">
    <app-page-title title="Blog List" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row padding-all-15">
        <button class="btn btn-success" (click)="addNewPostModal()">Add</button>
    </div>
    <div class="row ">
        <div class="col-lg-4 col-sm-6 padding-all-10" *ngFor="let item of posts">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-subtitle>
                        <p class="text-muted">{{item.dataCreation.seconds * 1000 | date:'dd/MM/yyyy(EEE) - hh:mmaaa'}}</p>
                    </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="item.mediaUrl" alt="" class="padding-all-15">
                <mat-card-content>
                    <p>
                        {{item.text}}
                    </p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button class="btn btn-danger" (click)="deleteProduct(item, deletePostModalContent)">Delete</button>
                    <button type="button" class="btn btn-primary margin-left-5" (click)="editPost(item)">
                        <i class='bx bx-cog mr-2'></i> Edit
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <hr class="mb-4">
    </div>
    <!-- end row -->
</div>


<!-- Standard Modal -->
<ng-template #deletePostModalContent role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">AREYOUSURE?</h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h5>Delete Post</h5>
        <p>Do you want to delete this post?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('CANCEL')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('DELETE')">
            <i class='bx bx-trash'></i> Delete
        </button>
    </div>
</ng-template>