<div class="container-fluid">
  <!-- page title -->
  <app-page-title title="Product" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-xl-4 col-sm-6" *ngFor="let product of products">
          <div class="card">
            <div class="card-body">
              <div class="product-img position-relative">
                
                <a [routerLink]="['/ecommerce/product-detail',product.uid]" href="javascript: void(0);">
                  <img src="{{product.image}}" alt=""                  class="img-fluid mx-auto d-block"></a>
              </div>
              <div class="mt-4 text-center">
                <h5 class="mb-3 text-truncate"><a [routerLink]="['/ecommerce/product-detail',product.uid]" href="javascript: void(0);" class="text-dark">{{product.name}} </a>
                </h5>

                <p class="text-muted">
                  <i class="bx bx-star text-warning"></i>
                  <i class="bx bx-star text-warning"></i>
                  <i class="bx bx-star text-warning"></i>
                  <i class="bx bx-star text-warning"></i>
                  <i class="bx bx-star text-warning"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      
      <div class="row">
        <div class="col-lg-12">
          <ngb-pagination class="pagination-rounded d-flex justify-content-center" [collectionSize]="6" page="1"
            [maxSize]="1" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
