/* You can add global styles to this file, and also import other style files */
.modal-holder {
    animation-name: example;
    animation-duration: 0.3s;
}
@keyframes example {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.carousel-item {
    transition: opacity 0.7s ease !important;
    position: absolute !important;
    display: block !important;
    opacity: 0;
}

.carousel-item.active {
    position: relative !important;
    opacity: 1;
}

.max-height-200 {
    max-height: 200px;
}

//****************************//
//******** Margin ***********//
//***************************//
.margin-top-0 {
    margin-top: 0px !important;
}
.margin-top-3 {
    margin-top: 3px !important;
}
.margin-top-5 {
    margin-top: 5px !important;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-15 {
    margin-top: 15px !important;
}
.margin-top-25 {
    margin-top: 25px !important;
}
.margin-bottom-0 {
    margin-bottom: 0px !important;
}
.margin-bottom-3 {
    margin-bottom: 3px !important;
}
.margin-bottom-5 {
    margin-bottom: 5px !important;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-bottom-15 {
    margin-bottom: 15px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-all-5 {
    margin: 5px !important;
}
.margin-all-10 {
    margin: 10px !important;
}
.margin-all-15 {
    margin: 15px !important;
}

.margin-right-0 {
    margin-right: 0px !important;
}
.margin-right-5 {
    margin-right: 5px !important;
}
.margin-right-8 {
    margin-right: 8px !important;
}
.margin-right-10 {
    margin-right: 10px !important;
}
.margin-right-15 {
    margin-right: 15px !important;
}
.margin-left-0 {
    margin-left: 0px !important;
}
.margin-left-5 {
    margin-left: 5px !important;
}
.margin-left-8 {
    margin-left: 8px !important;
}
.margin-left-10 {
    margin-left: 10px !important;
}
.margin-left-15 {
    margin-left: 15px !important;
}
.margin-0-28 {
    margin: 0px 25px !important;
}

//****************************//
//******** Padding ***********//
//***************************//
.padding-top-0 {
    padding-top: 0px !important;
}
.padding-top-3 {
    padding-top: 3px !important;
}
.padding-top-5 {
    padding-top: 5px !important;
}
.padding-top-10 {
    padding-top: 10px !important;
}

.padding-5-0-5-0 {
    padding: 5px 0px 5px 0px;
}

.padding-5-5-5-5 {
    padding: 5px 5px 5px 5px;
}

.padding-0-0-5-0 {
    padding: 0px 0px 5px 0px;
}

.padding-bottom-0 {
    padding-bottom: 0px !important;
}
.padding-bottom-3 {
    padding-bottom: 3px !important;
}
.padding-bottom-5 {
    padding-bottom: 5px !important;
}
.padding-bottom-10 {
    padding-bottom: 10px !important;
}
.padding-right-5 {
    padding-right: 5px !important;
}
.padding-right-15 {
    padding-right: 15px !important;
}
.padding-right-25 {
    padding-right: 25px !important;
}
.padding-left-0 {
    padding-left: 0px !important;
}
.padding-left-5 {
    padding-left: 5px !important;
}
.padding-left-10 {
    padding-left: 10px !important;
}
.padding-left-15 {
    padding-left: 15px !important;
}
.padding-left-25 {
    padding-left: 25px !important;
}
.padding-all-5 {
    padding: 5px !important;
}
.padding-all-10 {
    padding: 10px !important;
}
.padding-all-15 {
    padding: 15px !important;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
