<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Product Detail" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body" *ngIf="productDetail">
          <div class="row">
            <div class="col-xl-6">
              <div class="product-detai-imgs">
                <div class="row">
                  <div class="col-12">
                    <div>
                      <img *ngIf="!fileUrl" [src]="productDetail.image" id="expandedImg" alt=""
                        class="img-fluid mx-auto d-block">
                      <img *ngIf="fileUrl" [src]="fileUrl" id="expandedImg" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    
                    <div class="text-center">
                      <button *ngIf="isReadOnly" type="button" class="btn btn-primary mt-2" (click)="enableEditMode()">
                        <i class='bx bx-cog mr-2'></i> {{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.EDIT' | translate}}
                      </button>
                      <button *ngIf="!isReadOnly" type="button" class="btn btn-success mt-2" (click)="saveProduct()">
                        <i class='bx bx-save'></i> {{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.SAVE' | translate}}
                      </button>
                      <button *ngIf="!isReadOnly" type="button" class="btn btn-danger mt-2 margin-left-10"
                        (click)="deleteProduct(content)">
                        <i class='bx bx-trash'></i> {{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.DELETE' | translate}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!isReadOnly" class="col-xl-6">
              <div>
                <form [formGroup]="productForm">
                  <div class="form-group">
                    <label for="productname">{{ 'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.PRODUCTNAME' | translate }}</label>
                    <input id="productname" type="text" class="form-control" formControlName="name" placeholder="Name"
                      aria-label="Name" aria-describedby="basic-addon1">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="type">Type</label>
                        <input id="type" type="text" class="form-control" formControlName="type" placeholder="Name"
                          aria-label="Type" aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="alcol">Alcol</label>
                        <input id="alcol" type="text" class="form-control" formControlName="alcol" placeholder="Name"
                          aria-label="Alcol" aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="color">Color</label>
                    <input id="color" class="margin-left-10" [(colorPicker)]="color" [style.background]="color"/>
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control" formControlName="description"
                      placeholder="Description" aria-label="With textarea"></textarea>
                  </div>
                </form>
                
                <div class="form-group mt-3 mb-0">
                  <label for="category">{{ 'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.CATEGORY' | translate }}</label>
                  <select id="category" class="form-control select2-search-disable" [(ngModel)]="selectedCategoryUid" (change)="selectedCategoryEvent($event.target.value, newCategory)">
                    <option *ngFor="let category of categories" value="{{category.uid}}">{{category.name}}</option>
                  </select>
                </div>
              </div>
              <br />
              <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

                <div *ngFor="let attrb of productDetail.attribute1_value; let i = index" [attr.data-index]="i" cdkDrag>
                  <div class="row">

                    <div class="input-group col-4">
                      <input matInput type="text" class="form-control" [(ngModel)]="attrb.value"
                        [class.disable-text]="attrb.enable == false" placeholder="Label">
                    </div>
                    <div class="input-group col-4">
                      <input matInput type="number" class="form-control" [(ngModel)]="attrb.price"
                        [ngClass]="{'disable-text': attrb.enable == false}" placeholder="Price">
                    </div>
                    <div *ngIf="!isReadOnly && attrb.enable" class="padding-0-0-5-0 col-2">
                      <button type="button" class="btn btn-info" (click)="disableAttrb(disableValue, i)">
                        <i class='bx bx-block'></i>
                      </button>
                    </div>
                    <div *ngIf="!isReadOnly && !attrb.enable" class="padding-0-0-5-0 col-2">
                      <button type="button" class="btn btn-success" (click)="enableAttrb(i)">
                        <i class='bx bx-check'></i>
                      </button>
                    </div>
                    <div *ngIf="!isReadOnly" class="col-2">
                      <button type="button" class="btn btn-danger" (click)="deleteAttrb(i)">
                        <i class='bx bx-x-circle'></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div class="row padding-left-10">
                <button *ngIf="!isReadOnly" type="button" class="btn btn-danger mt-2" (click)="addNewAttrb1()">
                  <i class='bx bx-plus'></i> {{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.ADDNEWATTRIBUTE' | translate}}
                </button>
              </div>
              <div class="row padding-left-10">
                <input #fileInput style="display: none;" type="file" accept="image/*" (change)="onFileChange($event)">
                <button *ngIf="!isReadOnly" type="button" class="btn btn-success mt-2" (click)="fileInput.click()">
                  <i class='bx bx-camera'></i> {{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.UPDATEPHOTO' | translate}}
                </button>
              </div>
            </div>
            <div *ngIf="isReadOnly" class="col-xl-6">
              <div class="mt-4 mt-xl-3">
                <h4 class="mt-1 mb-3">{{productDetail.name}}</h4>
                <div class="row">
                  <p class="margin-left-15">{{productDetail.category}}</p>
                  <p class="margin-left-15">{{productDetail.attribute2_value?.type}}</p>
                  <p class="margin-left-15">{{productDetail.attribute2_value?.alcol}}</p>
                </div>


                <div *ngFor="let attrb of productDetail.attribute1_value">
                  <p class="mb-4">{{attrb.value}} :
                    <b>
                      {{attrb.price | currency:'EUR':'symbol' }}
                    </b>
                  </p>
                </div>

                <p *ngIf="isReadOnly" class="text-muted mb-4">{{productDetail.description}}</p>
                <div *ngIf="!isReadOnly" class="input-group">
                  <textarea class="form-control" aria-label="With textarea">{{productDetail.description}}</textarea>
                </div>
              </div>
            </div>
          </div>
          <!-- end row -->
          <!-- end Specifications -->
        </div>
      </div>
    </div>

    <!-- end card -->
  </div>
  <!-- end row -->
  <!-- end row -->

</div> <!-- container-fluid -->


<!-- Standard Modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">{{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.AREYOUSURE' | translate}}</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <h5>{{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.DELETEPRODUCT' | translate}}</h5>
    <p>{{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.DOYOUWANTDELETETHISPRODUCT' | translate}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light"
      (click)="modal.close('CANCEL')">{{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.CANCEL' | translate}}</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('DELETE')">
      <i class='bx bx-trash'></i> {{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.DELETE' | translate}}
    </button>
  </div>
</ng-template>


<!-- New Category Modal -->
<ng-template #newCategory role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Create a category</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Set name and code for a category</p>
    <form [formGroup]="categoryForm">
      <div class="form-group">
        <label for="modalCategoryName">{{ 'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.CATEGORY' | translate }}</label>
        <input id="modalCategoryName" matInput type="text" formControlName="name" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="modalCategoryCode">{{ 'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.DESCRIPTION' | translate }}</label>
        <input id="modalCategoryCode" matInput type="text" formControlName="description" class="form-control" placeholder="Code">
      </div> 
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light"
      (click)="modal.close('CANCEL')">{{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.CANCEL' | translate}}</button>
    <button type="button" class="btn btn-success" (click)="modal.close('CREATE')">
      <i class='bx bx-save'></i> Create
    </button>
  </div>
</ng-template>

<!-- Standard Modal -->
<ng-template #disableValue role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">{{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.AREYOUSURE' | translate}}</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <h5>{{ 'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.DISABLEATTRIBUTE' | translate }}</h5>
    <p>{{ 'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.DOYOUWANTDISABLEATTRB' | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light"
      (click)="modal.close('CANCEL')">{{'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.CANCEL' | translate}}</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('DISABLE')">
      <i class='bx bx-block'></i> {{ 'MENUITEMS.ECOMMERCE.LIST.PRODUCTDETAIL.MODALS.DISABLE' | translate }}
    </button>
  </div>
</ng-template>