<div class="container-fluid">

    <app-page-title title="Customers" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <button *ngIf="isModified" type="button" class="btn btn-success mt-2" (click)="saveProducts()">
            <i class='bx bx-save'></i> {{'COMMON.SAVE' | translate}}
        </button>
        <button *ngIf="isModified" type="button" class="btn btn-danger mt-2 margin-left-10" (click)="clearProducts()">
            <i class='bx bx-trash'></i> {{'COMMON.CANCEL' | translate}}
        </button>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

                            <table class="table table-centered table-nowrap table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" style="width: 30px;">#</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Value</th>
                                        <th scope="col">Type</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let product of products, let i = index;" [attr.data-index]="i" cdkDrag>
                                        <td>
                                            {{i + 1}}
                                        </td>
                                        <td>
                                            <img style="height: 90px;" [src]="product.image">
                                        </td>
                                        <td>
                                            {{product.name}}
                                        </td>
                                        <td>{{product.category}}</td>
                                        <td>{{product.attribute2_value?.alcol}}</td>
                                        <td>{{product.attribute2_value?.type}}</td>
                                        <td>
                                            <div class="mt-4" routerLink="/product-detail/{{product.uid}}">
                                                <a href="javascript: void(0);">See detail</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="pagination pagination-rounded justify-content-center mt-4">
                                <li class="page-item disabled">
                                    <a href="javascript: void(0);" class="page-link"><i
                                            class="mdi mdi-chevron-left"></i></a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript: void(0);" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="javascript: void(0);" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript: void(0);" class="page-link">3</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript: void(0);" class="page-link">4</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript: void(0);" class="page-link">5</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript: void(0);" class="page-link"><i
                                            class="mdi mdi-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>